<div class="talks">
    <h5 style="text-align: center; font-size: 150%; font-weight: 600; padding: 10px 0 10px 0;">Talks</h5>
    <div class="table-responsive">
      <table class="table table-sm table-borderless">

        <!-- <tr><td style="padding-top: 0rem; padding: 0 0 0 0;">
          [10/2024] Southeast ACM Student Workshop, student presentation
        </td></tr> -->
        <tr><td style="padding-top: 0rem; padding: 0 0 0 0;">
          [04/2024] Southeast ACM Student Workshop 2024, student presentation
        </td></tr>

        <!-- <tr><td style="padding-top: 0rem; padding: 0 0 0 0;">
          [01/2024]
          <a href="https://arxiv.org/abs/2310.02233" target="_blank">Generalized Schrödinger Bridge Matching</a>
          (with FAIR, Meta AI) accepted to ICLR.
        </td></tr> -->

      </table>
    </div>
  </div>