<div class="talks">
    <h5 style="text-align: center; font-size: 150%; font-weight: 600; padding: 10px 0 10px 0;">Talks</h5>
    <div class="table-responsive">
      <table class="table table-sm table-borderless">

        <tr><td style="padding-top: 0rem; padding: 0 0 0 0;">
          [09/2025] GT ML Student Conference
        </td></tr>
        <tr><td style="padding-top: 0rem; padding: 0 0 0 0;">
          [08/2025] MolSS Reading Group
        </td></tr>
        <tr><td style="padding-top: 0rem; padding: 0 0 0 0;">
          [11/2024] GT ML Student Seminar
        </td></tr>
        <tr><td style="padding-top: 0rem; padding: 0 0 0 0;">
          [10/2024] SIAM MDS 2024
        </td></tr>
        <tr><td style="padding-top: 0rem; padding: 0 0 0 0;">
          [04/2024] Southeast ACM Student Workshop 2024
        </td></tr>

      </table>
    </div>
  </div>